mat-list-item.mat-list-item:hover { background: #212121; }

.container {
  justify-content: space-around;
  align-items: flex-start;
}

.mat-card {
  min-width: 25vw;
  min-height: 20vh;
  h1.boom {
    font-size: 11em;
  }
}

